@model IEnumerable<ProjectMVC.Models.Cart>



<div hidden id="ot"> @ViewBag.orderTotal </div>




<div  class="row">
    <div class="col-lg-12">
        <div class="shop__cart__table">                        
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double orderTotal = 0;
                    }
                    @foreach (var item in Model){
                        orderTotal += item.TotalPrice;
                        <tr>
                            <td class="cart__product__item">
                                <img src="~/images/@item.Product.ImgPath" alt="">
                                <div class="cart__product__item__title">
                                    <h6>Name: @item.Product.Name</h6>
                                    <h6>Description: @item.Product.Description</h6>
                                    <h6>In Stock: @item.Product.NumInStock</h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </td>
                            <td class="cart__price">$ @item.Product.Price</td>
                            <td class="cart__quantity">
                                <div class="">
                                    <span class = "btn btn-sm" onclick="decrease('@item.ProductId')"> <i class="fa fa-xs fa-minus"></i> </span>
                                    <span class = "h5">@item.Quntity</span>
                                    <span class = "btn btn-sm" onclick="increase('@item.ProductId')"> <i class="fa fa-xs fa-plus"></i> </span>
                                    @*<input type="text" value="@item.Quntity">*@
                                </div>
                            </td>
                            <td class="cart__total">$ @item.TotalPrice</td>
                            <td class="cart__close">
                                <span class="icon_close" onclick="removeItem('@item.ProductId')"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
           
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn">
            <a href="./home">Continue Shopping</a>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn update__btn">
                <a href="#" onclick="clearCart()" class="btn-outline-danger">
                    <span class="text-dark fa fa-trash"></span>
                    Clear cart
                </a>
        </div>
    </div>
</div>

@*checkout box*@

<div class="row">
    <div class="col-lg-6">
        
    </div>
    <div class="col-lg-4 offset-lg-2">
        <div class="cart__total__procced">
            <h6>Cart total</h6>
            <ul>
                <li>Total <span id="orderTotal"> @ViewBag.orderTotal </span></li>
            </ul>

            <!-- button for modified code-->
            <div class="btn" id = "paypal-btn">
            </div>


            <!-- button for generated code-->
            <div id="smart-button-container">
                <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                </div>
            </div>
                    
        </div>
    </div>
</div>

    
<script src="~/js/paypal/paypal.js"> </script>
