@model IEnumerable<ProjectMVC.Models.Cart>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid m-0 p-5" style="height: 50vh">
    <!--Header -->
    <h5> 
        <a href="/Home">Home</a> >
        <a href="#">Shopping Cart</a> 
    </h5>


    <!--Main Content-->
    <div class="row">

        <!--Products-->
        <div class = "col-9">
            
            <div class="py-3">
                <input type="button" class="btn btn-danger" value="Clear Cart" onclick="clearCart()" />
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quntity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalPrice)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateTime)
                                </td>
                                <td>
                                    <center>

                                    <span class="btn btn-outline-danger btn-sm mx-4" onclick="decrease('@item.ProductId')">
                                        <i class="fa fa-minus fa-xs"></i>
                                    </span>

                                    <span class="h4">
                                        @Html.DisplayFor(modelItem => item.Quntity)
                                    </span>

                                    <span class="btn btn-outline-success btn-sm mx-4" onclick="Increase('@item.ProductId')">
                                        <i class="fa fa-plus fa-xs"></i>
                                    </span>
                                    </center>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>

                                <td>
                                    <div>
                                        <span class="btn btn-outline-danger btn-sm mx-4" onclick="RemoveItem('@item.ProductId')">
                                            <i class="fa fa-times-circle fa-xs"></i>
                                        </span>
                                    </div>
                                </td>
            
                            </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <!--Payment Panel-->
        <div class = "col vh-100"> 
            <h6>Paypal Payment</h6>
        </div>

    </div>
</div>

@section Scripts{
    <script>

        function AddItem(){
            $.ajax({
                url: 'https://localhost:44327/cart/add/1',
                method: 'POST',
                //data: JSON.stringify(course),
                contentType: 'application/json',
                success: function (data) {
                    //alert("Added");
                },
                error: function (error) {
                    alert("error: " + error.statusText);
                }
            });
        }

        function RemoveItem(productID){
            $.ajax({
                url: `https://localhost:44327/cart/remove/${productID}`,
                method: 'GET',
                success: function (data) {
                    //alert("Removed!");
                },
                error: function (error) {
                    alert("error: " + error.statusText);
                }
            });
        }

        function clearCart(){
            $.ajax({
                url: 'https://localhost:44327/cart/clear',
                method: 'GET',
                success: function (data) {
                    //alert("cleared!");
                },
                error: function (error) {
                    alert("error: " + error.statusText);
                }
            });
        }

        function Increase(productId) {
            alert(productId);
            var product = {productId} 

            $.ajax({
                url: 'https://localhost:44327/cart/increase',
                method: 'POST',
                data: JSON.stringify(product),
                contentType: 'application/json',
                success: function (data) {
                    //alert("incresed");
                },
                error: function (error) {
                    alert("error: " + error.statusText);
                }
            });            
        }

        function decrease(productId){
            alert(productId);
            var product = {productId} 
            alert(product);
            $.ajax({
                url: 'https://localhost:44327/cart/decrease',
                method: 'POST',
                data: JSON.stringify(product),
                contentType: 'application/json',
                success: function (data) {
                    //alert("decreased");
                },
                error: function (error) {
                    alert("error: " + error.statusText);
                }
            });
        }

        
    </script>
}